/* Load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400|PT+Sans+Narrow:regular,bold);

html {
  background: #d7d7d7 url(../images/background.png);
}

body{
  font-family: Arial, Verdana, sans-serif;
  margin: 0 100px 100px 100px;
  color: #707070;
  background: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.5);
}

/*
* Links
*/
a, a:link, a:visited {
  color: #003264;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/*
* Headings
*/
h1, h2, h3, h4, h5 {
  font-family: 'PT Sans Narrow', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {
  border-bottom: none;
}

h1, .wiki h1 { font-size: 30px; text-transform: uppercase; }
h2, .wiki h2 { font-size: 24px; text-transform: uppercase; }
h3, .wiki h3 { font-size: 18px; text-transform: uppercase; }


/*
* Layout
*/
#wrapper,
#main,
#footer,
#content {
  background: transparent;
}

#main {
  margin: 50px 0 0 0;
}

#wrapper{
  background: white url(../images/white-header-logo.png) 80% -100px no-repeat;
}

#wrapper2{
  background: transparent url(../images/header-logo.png) 14px 10px no-repeat;
}

#content {
  margin: 1em 1.4em 1em 1em;
  overflow: auto;
}

/*
* Top-menu
*/
#top-menu {
  background: none;
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 15px 30px 20px 160px;
}

#top-menu li{
  margin: 0 15px 0 0;
}

#top-menu #account li, #top-menu #loggedas {
  margin: 0 0 0 15px;
}

#top-menu ul {
  padding: 0;
  text-transform: uppercase;
}

#top-menu #loggedas, #top-menu #account {
  color: #bbb;
  margin: 0;
}

#top-menu a, #header a {
  font-weight: normal;
  color: #7c7c7c;
  margin: 0;
}

#top-menu a:hover {
  color: black;
  text-decoration: none;
}

#top-menu .home,
#top-menu .my-page,
#top-menu .projects,
#top-menu .administration {
  float: left;
}

#top-menu .help {
  position: fixed;
  top: 115px;
  left: 0;
  color: white;
  font-size: 1.5em;
  padding: 3px 18px 5px 18px;
  background-color: rgba(50,50,50,0.5);
}

/*
* Header
*/
#header {
  background: none;
  margin: 0;
  padding: 0 30px 0px 160px;
  height: 90px;
  position: relative;
}

#header h1 {
  color:  #b4b4b4;
  font-size: 37px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
  text-transform: none;
  letter-spacing: 0.029em;
  word-spacing: -0.041em;
  line-height: 1.1;
  text-transform: uppercase; 
}

#header #quick-search {
  margin-top: -25px;
}

/*
* Home
*/

.controller-welcome #content h2     { display: none; }
.controller-welcome #content div h2 { display: block; }

/**** Project menus ****/

/* menu */
#main-menu {
  left: 160px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}

/* Link color */
#main-menu li a {
  color: #707070;
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-shadow: 0px 1px 1px #ffffff;
}
#main-menu li a.selected {
  color: #111111;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);
}
#main-menu li a:hover, #main-menu li a.selected:hover { color: #000000; }

/* Background */
#main-menu {
  background-color: #dbdbdb;
  padding: 4px 2px 1px 2px;
}
#main-menu li {
  background-color: #d7d7d7;
  border-style: solid;
  border-color: transparent #e6e6e6 transparent #bebebe;
  border-width: 0 1px;
  margin: 0 1px;
}
/*
#main-menu li:hover {background-color: #DDDDDD;}
#main-menu li a, #main-menu li a:hover {}
#main-menu li a.selected, #main-menu li a.selected:hover {background-color: #EEEEEE;}
*/











/*
* Footer
*/
#footer {
  border: none;
  padding: 80px 0 30px 0;
  background: white url(../images/footer-background.png) center top no-repeat;
}

#footer a:hover { text-decoration: none; }


















.red{ color: red; }
.green{ color: green; }
.blue{ color: blue; }
.yellow{ color: yellow; }
.orange{ color: orange; }
.fuchsia{ color: fuchsia; }

/* staging env is red */
body.environment-staging #top-menu { background-color: #DD1111; }
body.environment-staging #header   { background-color: #FF3F3F; }
body.environment-staging #main a   { color: #CC0000; }






